.debugPanel {
  $indent: 24px;
  $padding: 4px;
  $borderColor: #999;
  $fontSize: 11px;
  $fontFamily: "Menlo, monospace";

  display: flex;
  flex-direction: column;
  border: 1px solid $borderColor;
  font-size: $fontSize;
  line-height: normal;

  &-pre {
    margin: 0;
    white-space: pre-wrap;
    word-break: break-all;
    font-family: #{$fontFamily};
  }

  &-row {
    flex-shrink: 0;
    position: relative;
    padding: $padding;
    padding-left: $indent + $padding;
    min-height: $fontSize + $padding * 2;
    box-sizing: border-box;

    &:not(:last-child) {
      border-bottom: 1px solid $borderColor;
    }

    &.isError {
      @apply text-red-800;

      &::before {
        @apply bg-red-300 inset-0 absolute opacity-30;
        pointer-events: none;
        content: ' ';
        mix-blend-mode: multiply;
      }
    }

    &.isWarn {
      @apply text-yellow-800;

      &::before {
        @apply bg-yellow-300 inset-0 absolute opacity-30;
        pointer-events: none;
        content: ' ';
        mix-blend-mode: multiply;
      }
    }
  }

  &-indicator {
    position: absolute;
    left: $padding;
    top: $padding;
    width: $indent;
    text-align: center;
    line-height: 1;

    &.isBlue {
      color: #069;
    }

    &.isGrey {
      color: #ccc;
    }
  }

  &-errorMark {
    @apply bg-red-500 text-white w-4 h-4 rounded-full inline-block text-center text-xs;
  }

  &-warnMark {
    @apply bg-yellow-500 text-white w-4 h-4 rounded-full inline-block text-center text-xs;
  }

  &-input {
    @extend .debugPanel-row;
    border-bottom-color: #eee !important;

    >.commandInput {
      margin: -2px;
    }

    .CodeMirror {
      min-height: 3 * $fontSize;
    }

    .CodeMirror-placeholder {
      opacity: 0.3;
    }

    .CodeMirror pre.CodeMirror-line,
    .CodeMirror pre.CodeMirror-line-like {
      font-size: $fontSize;
      font-family: #{$fontFamily};
    }
  }

  &-logs {
    @apply flex flex-col flex-1 min-h-0 overflow-auto;

    &:not(:empty) {
      border-bottom: 1px solid $borderColor;
    }
  }

  &-instant {
    @extend .debugPanel-row;
  }
}