.debugPanel {
  $indent: 24px;
  $padding: 4px;
  $borderColor: #999;
  $fontSize: 11px;
  $fontFamily: Menlo,
  monospace;

  display: flex;
  flex-direction: column;
  border: 1px solid $borderColor;
  font-size: $fontSize;
  line-height: normal;

  &-pre {
    margin: 0;
    white-space: pre-wrap;
    word-break: break-all;
    font-family: $fontFamily;
  }

  &-row {
    position: relative;
    padding: $padding;
    padding-left: $indent + $padding;
    min-height: $fontSize + $padding * 2;
    box-sizing: border-box;

    &:not(:last-child) {
      border-bottom: 1px solid $borderColor;
    }

    &.isError {
      color: #600;

      &::before {
        position: absolute;
        inset: 0;
        background-color: #f99;
        opacity: 0.3;
        pointer-events: none;
        content: ' ';
        mix-blend-mode: multiply;
      }
    }

    &.isWarn {
      color: #630;

      &::before {
        position: absolute;
        inset: 0;
        background-color: #ff9;
        opacity: 0.3;
        pointer-events: none;
        content: ' ';
        mix-blend-mode: multiply;
      }
    }
  }

  &-indicator {
    position: absolute;
    left: $padding;
    top: $padding;
    width: $indent;
    text-align: center;
    line-height: 1;

    &.isBlue {
      color: #069;
    }

    &.isGrey {
      color: #ccc;
    }
  }

  &-errorMark {
    background-color: #c33;
    color: #fff;
    width: 1em;
    padding: 2px;
    margin: -2px;
    border-radius: 100%;
    height: 1em;
    display: inline-block;
    text-align: center;
  }

  &-warnMark {
    background-color: #ca6;
    color: #fff;
    width: 1em;
    padding: 2px;
    margin: -2px;
    border-radius: 100%;
    height: 1em;
    display: inline-block;
    text-align: center;
  }

  &-input {
    @extend .debugPanel-row;
    border-bottom-color: #eee !important;

    >.commandInput {
      margin: -2px;
    }

    .CodeMirror {
      min-height: 3 * $fontSize;
    }

    .CodeMirror-placeholder {
      opacity: 0.3;
    }

    .CodeMirror pre.CodeMirror-line,
    .CodeMirror pre.CodeMirror-line-like {
      font-size: $fontSize;
      font-family: $fontFamily;
    }
  }

  &-logs {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;

    &:not(:empty) {
      border-bottom: 1px solid $borderColor;
    }
  }
  
  &-instant {
    @extend .debugPanel-row;
  }
}